﻿@model HousingApp.Models.enquiry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>enquiry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.property.address_line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property.address_line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.enquiry_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
