﻿@model HousingApp.Models.property

@{
    ViewBag.Title = "Details";
}
<br />


@using (Html.BeginForm("inquire", "properties", FormMethod.Post))
{
    
    <table>
        <tr>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.address_line1)
            </td>
            <td>
                @Html.DisplayFor(model => model.address_line1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.address_line2)
            </td>
            <td>
                @Html.DisplayFor(model => model.address_line2)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.town_city)</td>
            <td>@Html.DisplayFor(model => model.town_city)</td>
        </tr>
        <td>
            <input type="submit" value="inquire" />
        </td>
    </table>

}

