﻿@model IEnumerable<HousingApp.Models.property>

@{
    ViewBag.Title = "Index";
}
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {


            <div class="col-sm">
                @Html.DisplayNameFor(model => model.address_line1)
                @Html.DisplayFor(modelItem => item.address_line1)
            </div>
            <div class="col-sm">
                @Html.DisplayNameFor(model => model.address_line2)
                @Html.DisplayFor(modelItem => item.address_line2)
            </div>
            <div class="col-sm">
                @Html.DisplayNameFor(model => model.town_city)
                @Html.DisplayFor(modelItem => item.town_city)
            </div>
            
            @Html.ActionLink("Details", "Details", new { id = item.property_id})


        }
    </div>
    </div>
