﻿
@model HousingApp.Models.user

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "users", FormMethod.Post))
{
   
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.username)</td>
                <td>@Html.TextBoxFor(a => a.username)</td>
                <td>@Html.ValidationMessageFor(a => a.username)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.auth)
                </td>
                <td>
                    @Html.PasswordFor(a => a.auth)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.auth)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>

}
