﻿
@{
    ViewBag.Title = "UserDashBoard";
}

<h2>UserDashBoard</h2>

<fieldset>
    <legend> User DashBoard </legend>

@if (Session["username"] != null)
{<text>     Welcome @Session["username"].ToString()  </text>
    } </fieldset>
